
<div class="container">
<h1><%= @restaurant.name %></h1>

<hr>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> **<%= review.rating %>⭐**</li>
  <% end %>
</ul>

<hr>
<h2>Average Rating</h2>
  <% rating = 0.0 %>
  <% @restaurant.reviews.each do |review| %>
      <% rating += review.rating %>
  <% end %>
  <% final_rating = (rating / @restaurant.reviews.length).round(2) %>
  <%= final_rating %>⭐
<hr>

<%= link_to "Add Review", new_restaurant_review_path(@restaurant) %>
<br>
<%= link_to "<- Back to all Restaurants", restaurants_path %>


<%#  %>
</div>
